*{
    margin: 0;
    padding: 0;
}
body
{
    background:linear-gradient(#400438,#160332) ;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a{
    text-decoration: none;
    color: white;
}
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    font-size: 30px;
}
header ul{
    display: flex;
    justify-content:center ;
    align-items: center;
    list-style: none;
}
header ul  li{
    margin-right: 10%;

}
header ul  li a{
    padding: 5px 30px;
    font-size: 20px;
}
header ul li a:hover,.active{
    background: #fff;
    border-radius: 7px;
    color:#400438 ;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#160332,transparent);

}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(100px);
}
.nouva{
    font-size: 30px;
    color: white;
    text-transform:uppercase;
    transform: translateY(-150px);
}
.content{
    color: white;
    font-size: 30px;
    padding: 30px;
}
.content h2{
    margin: 30px;
    font-size: 30px;
}
.content p{
    margin: 30px;

}
